<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Xiao Yu - Software Developer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <meta name="author" content="Xiao Yu">
  <meta name="description" lang="en" content="Xiao Yu is a software developer in Shanghai Jiao Tong University">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

  </head>
  <body>

    {{ content }}

    <footer>
      <div class="container">
        <ul class="social-media-links">
         <!-- <li><a  href="tel:+4915227525353"><i class="icon-phone"></i></a></li> -->
         <li><a  target="_blank" href="mailto:qqfishyx@gmail.com"><i class="icon-envelope"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://twitter.com/qqfish"><i class="icon-twitter"></i></a></li>
         <li><a  target="_blank" hreflang="de" href=""><i class="icon-facebook"></i></a></li>
         <li><a  target="_blank" hreflang="en" href=""><i class="icon-google-plus"></i></a></li>
         <li><a  target="_blank" hreflang="de" href=""><i class="icon-linkedin"></i></a></li>
         <li><a  target="_blank" hreflang="de" href=""><i class="icon-xing"></i></a></li>
         <li><a  target="_blank" hreflang="en" href=""><i class="icon-stackexchange"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="https://github.com/qqfish"><i class="icon-github"></i></a></li>
       </ul>
       <p>Made with <i class="icon-heart"></i> and my bare hands.</p>
       <p>With the power of <i class="icon-html5"></i> and <i class="icon-css3"></i> under the hood.</p>
     </div>
   </footer>

 </body>
 </html>
